.addBtn {
  bottom: -6%;
  position: absolute;
  font-size: 2.9rem;
  color: #aeaeae;
  border-radius: 50%;
  background-color: #56e4a7;
  width: 5.5rem;
  padding: 0;
  height: 5.5rem;
  align-self: center;
  outline: none;
  border: none;
}

.addBtn:hover {
  background-color: rgb(102, 231, 175);
}

.addInput {
  position: absolute;
  bottom: 4%;
  padding: 5px 10px;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 5px;
  right: 0;
  left: 0;
  margin-inline: 45px;
  font-size: 18px;
}

input:invalid {
  outline-color: rgb(255, 147, 147);
}
input:valid {
  outline-color: #45cf93;
}

.errorText {
  position: absolute;
  display: none;
  bottom: 1%;
  font-size: small;
  color: rgb(255, 75, 75);
  font-family: "Arial";
}

input:focus:invalid + .errorText {
  display: block;
}
