.todo_area {
  overflow: auto;
  margin-bottom: 1.5rem;
}

.todoText {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 2rem;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

.todoImage {
  max-height: 2rem;
  max-width: 2rem;
}
